[profile.default]
solc = "0.8.30"
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
via_ir = false
sparse_mode = true
fs_permissions = [
  { access = "read-write", path = "./deployments" },
]
gas_reports = ["ActionBorrow"]
additional_compiler_profiles = [ { name = "via-ir", via_ir = true, optimizer = true, optimizer_runs = 200 } ]

# Enabling via-ir selectively to speed up compilation for project
compilation_restrictions = [
  { paths = "src/lending_market/LendingMarket.sol", via_ir = true },
  { paths = "src/sisu_vault/SisuVault.sol", via_ir = true },
  { paths = "src/sisu_vault/SisuVaultFactory.sol", via_ir = true },
]

[profile.default.invariant]
runs = 16
depth = 256
fail_on_revert = true

[rpc_endpoints]
mainnet = "https://eth-mainnet.g.alchemy.com/v2/${ALCHEMY_KEY}"
tenderly = "https://rpc.tenderly.co/fork/${TENDERLY_FORK_ID}"

[profile.default.fmt]
wrap_comments = true


[profile.build]
test = "/dev/null"
script = "/dev/null"


[profile.test]
via-ir = false
no_match_test  = "YTYield"

[profile.ci]
via_ir = false
optimizer = true
optimizer_runs = 200
fuzz = { runs = 100 }
invariant = { runs = 5, depth = 64, fail_on_revert = true }
# Exclude slow tests in CI
no_match_test = "YTYield|invariant"

[fmt]
  int_types = "long"
  line_length = 120
  quote_style = "double"
  tab_width = 4
  wrap_comments = true
  number_underscore = "remove"
  sort_imports = true